
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from view</title>
</head>
<body>
    <div class="content container">


        <div class="description">
            <p class="text-center">
                Perfect steaks in Almaty. Chef CRUDO deftly fries both classic and alternative steaks in any roasting. Steaks are prepared from tender new Zealand and Kazakhstan beef, grain and grass-fed. In addition to the main menu with steaks, CRUDO offers original appetizers, soups, salads, and a lunch menu.
            </p>
        </div>


        <div class="povar">


            <div class="blockquote">
                <blockquote class="blockquote-reverse">
                    <img src="img/povar.jpg" alt="Andrey Mokich" class="img">
                    <p>"Real connoisseurs also come to us. I remember one of the guests telling me that after trying our new York steak, I felt transported to the Big Apple city, inhaled the aromas of autumn Fifth Avenue, and walked around Manhattan. For me, as a cook, this was the best praise. We probably work for such moments"</p>
                    <footer> Andrey Mokich</footer>
                </blockquote>
            </div>
        </div>


        <br>


        <div class="guests">
            <p class="text-center">
                Dear guests! We are waiting for You in our restaurant CRUDO daily from 9: 00 to 23: 00
            </p>
        </div>
    </div>
</body>
</html>
